<form action=""> 
  <div class="row">
    <div class="col">
      <!-- Nombre-->
      <div class="form-group">
        <label class="form-label mt-4">Nombres</label>
        <input type="text" class="form-control" placeholder="Nombres" />
      </div>
    </div>

    <!-- Apellido-->
    <div class="col">
      <div class="form-group">
        <label class="form-label mt-4">Apellidos</label>
        <input type="text" class="form-control" placeholder="Apellidos" />
      </div>
    </div>
     <!-- Fecha-->
    <div class="col">
      <div class="form-group">
        <label class="form-label mt-4">Fecha Nacimiento</label>
        <input type="date" class="form-control" placeholder="Fecha Nacimiento" />
      </div>
    </div>
  </div>
  


<!--bloque 2 -->
<div class="row">
     <!-- Telefono-->
  <div class="col">
    <div class="form-group">
        <label class="form-label mt-4">Telefono</label>
        <input type="tel" class="form-control" placeholder="Telefono" />
      </div>

  </div>
   <!-- Email-->
  <div class="col">
    <div class="form-group">
        <label class="form-label mt-4">Email</label>
        <input type="email" class="form-control" placeholder="Email" />
      </div>
    </div>
     <!-- direccion-->
  <div class="col">
    <div class="form-group">
        <label class="form-label mt-4">Dirección</label>
        <input type="text" class="form-control" placeholder="Dirección" />
      </div>
    </div>
    
</div>

<div class="row" id="botto-cliente">
    <button type="button" class="btn btn-primary">Agregar Usuario</button>
</div>
</form>